<h2 th:text="'Deine Spieler (' + ${#arrays.length(spieler)} + ')'"></h2>
<hr>
<span th:each="spieler, spielerStat: ${spieler}">
    <a class="btn btn-secondary mt-2" th:text="${spieler}" th:href="@{/delspieler(id=${spielerStat.index})}"></a>
</span>
<hr>
<form th:action="@{/addspieler}">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Neuer Spieler" th:name="spielerVorname">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit" id="button-addon2">Speichern</button>
        </div>
    </div>
</form>